<template>
    <div>
        <div class="full_container">
            <div class=" container">
                <div class="form">
                    <h1>Add New Use</h1>
                    <div class="form-input">
                        <label for="">Name</label>
                        <input v-model="name" type="text" placeholder="type name">
                    </div>

                    <div v-for="(useH, index) in hobbies" :key="index" class="form-input close">
                        <label for="">Hobby</label>
                        <input type="text" v-model="hobbies[index]" placeholder="type hobbies">
                        <button @click.prevent="removeItem(useH)">X</button>
                    </div>

                    <div class="form-input">
                        <label for="">Add new Hobbies</label>
                        <input v-model="hobby" type="text" @keydown.tab.prevent="Addhbbies" placeholder="type hobbies">
                    </div>

                   
                    <div class="form-input">
                        <input type="submit" @click="AddNewuser">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import db from '../firebase/init'
import slugify from 'slugify'
export default {
    name: 'AddUser',
    data(){
        return {
            name: null,
            hobbies: [],
            hobby: null,
            feedback: null,
            slug: null
        }
    },
    methods: {
        AddNewuser()
        {
            if (this.name) {
                this.slug = slugify(this.name, {
                    replacement: '-',  // replace spaces with replacement character, defaults to `-`
                    remove: /[*+~.()'"!:@]/g, // remove characters that match regex, defaults to `undefined`
                    lower: true,      // convert to lower case, defaults to `false`
                })
                db.collection('hobby').add({
                    name: this.name,
                    slug: this.slug,
                    hobbies: this.hobbies
                })
                .then(res => {
                    res
                    this.$router.push({name: 'home'})
                })
            }
        },
        Addhbbies(){
            if(this.hobby){
                this.hobbies.push(this.hobby)
                this.hobby = null
            }else{
                alert("Please type hobby..")
            }
        },
        removeItem(item){
            this.hobbies = this.hobbies.filter(user => {
                return user !== item 
            })
        }

    }
}
</script>


<style scoped>
.form{
    margin: 20px auto;
    width: 400px;
    background: #dddddd;
    padding: 20px;
    padding-right: 40px;
    border: 1px solid rgb(66, 66, 66);
}
.form-input{
    margin: 10px;
    clear: both;
}
label{
    display: block;
    padding: 5px;
     font-size: 20px;
}
input[type="text"]{
    padding: 10px;
    width: 356px;
}
input[type="submit"]{
    padding: 10px;
    font-size: 15px;
}
.close input{
    float: left;
    width: 320px;
}
.close button{
    float: right;
    padding: 9px;

}
</style>



