<template>
    <div>
        <div class="full_container">
            <div class=" container">
                <div class="form" v-if="user_info">
                    <h1>Edit {{ user_info.name }} Use</h1>
                    <div class="form-input">
                        <label for="">Name</label>
                        <input v-model="user_info.name" type="text" placeholder="type name">
                    </div>

                    <div v-for="(useH, index) in user_info.hobbies" :key="index" class="form-input close">
                        <label for="">Hobby</label>
                        <input type="text" v-model="user_info.hobbies[index]" placeholder="type hobbies">
                        <button @click.prevent="removeItem(useH)">X</button>
                    </div>

                    <div class="form-input">
                        <label for="">Add new Hobbies</label>
                        <input v-model="hobby" type="text" @keydown.tab.prevent="Addhbbies" placeholder="type hobbies">
                    </div>

                   
                    <div class="form-input">
                        <input type="submit" @click="AddNewuser">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import db from '../firebase/init'
import slugify from 'slugify'
export default {
    name: 'EditUser',
    data(){
        return {
            user_info: null,
            hobby: null,
            feedback: null,
        }
    },
    methods: {
        AddNewuser()
        {
            if (this.user_info.name) {
                this.user_info.slug = slugify(this.user_info.name, {
                    replacement: '-',  // replace spaces with replacement character, defaults to `-`
                    remove: /[*+~.()'"!:@]/g, // remove characters that match regex, defaults to `undefined`
                    lower: true,      // convert to lower case, defaults to `false`
                })
                db.collection('hobby').doc(this.user_info.id).update({
                    name: this.user_info.name,
                    slug: this.user_info.slug,
                    hobbies: this.user_info.hobbies
                })
                .then(res => {
                    res
                    this.$router.push({name: 'home'})
                })
            }
        },
        Addhbbies(){
            if(this.hobby){
                this.user_info.hobbies.push(this.hobby)
                this.hobby = null
            }else{
                alert("Please type hobby..")
            }
        },
        removeItem(item){
            this.user_info.hobbies = this.user_info.hobbies.filter(user => {
                return user !== item 
            })
        }

    },
    created (){
        db.collection('hobby').where('slug', '==',this.$route.params.slug).get()
        .then((res) => {
            res.forEach(doc => {
                this.user_info = doc.data()
                this.user_info.id = doc.id
            })
            
        })
    }
}
</script>


<style scoped>
.form{
    margin: 20px auto;
    width: 400px;
    background: #dddddd;
    padding: 20px;
    padding-right: 40px;
    border: 1px solid rgb(66, 66, 66);
}
.form-input{
    margin: 10px;
    clear: both;
}
label{
    display: block;
    padding: 5px;
     font-size: 20px;
}
input[type="text"]{
    padding: 10px;
    width: 356px;
}
input[type="submit"]{
    padding: 10px;
    font-size: 15px;
}
.close input{
    float: left;
    width: 320px;
}
.close button{
    float: right;
    padding: 9px;

}
</style>



