<template>
    <div>
        <userList></userList>    
    </div>
</template>

<script>
import userList  from '../components/UserList'
export default {
    name: 'user',
    components: {
        userList
    }
}
</script>


