<template>
  <div class="hello">
      <div class="full_container">
        <div class=" container">
          <header>
            <div class="left_content">
                <ul>
                  <li><router-link to="/">Home</router-link></li>
                   <li><a href="#">Users</a></li>
                </ul>
            </div>
            <div class="right_content">
                <router-link :to="{name: 'add-user'}">Add Users</router-link>
            </div>
          </header>
            
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
header{
  background: #b1b1b1;
  min-height: 50px;
}
.left_content{
  float: left;
}

.left_content ul {
  list-style: none;
}
.left_content ul li{
  float: left;
}
.left_content ul li a{
  padding: 10px;
  color: aliceblue;
  text-decoration: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.left_content ul li a:hover{
  background: rgb(101, 88, 114);
  border-radius: 8px;
}

.right_content{
  float: right;
  padding: 10px;
  color: aliceblue;
  background: #585858;
  margin: 5px;
}
.right_content a {
  cursor: pointer;
  text-decoration: none;
  color: aliceblue;
}
</style>
