<template>
    <div>
        <div class="single_user_info">
            <h1>{{ user.name }}</h1>
                <button class="removeBtn" @click.prevent="removeItem">X</button>
            <ul>
                <li v-for="(hoby, index) in user.hobbies" :key="index">{{ hoby }}</li>
            </ul>
            <router-link class="editBtn"  :to="{name: 'edit-user', params: {slug: user.slug}}">Edit</router-link>
        </div>
    </div>
</template>


<script>
export default {
    name: 'SingleUserList',
    props: ['user'],
    methods: {
        removeItem(){
            this.$emit('removeItem', this.user.id)
        },
        remoItemDB(index){
            this.$emit('remoItemDB', index)
        }
    }
}
</script>


<style scoped>
.single_user_info{
    border: 2px solid #989191;
    width: 307px;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    
}
.single_user_info:last-child{
     margin-right: 0;
}
.single_user_info h1{
    padding: 10px;
    background: #8e8d8b;
    border-radius: 6px;
    margin: 7px;
    float: left;
    color: ghostwhite;
    width: 251px;
}
.single_user_info .removeBtn {
    padding: 4px;
    background: #d6d6d6;
    margin: 4px 3px 3px -1px;
    border: none;
    cursor: pointer;
    width: 20px;
}
.single_user_info ul {
    list-style: none;
    margin-top: 50px;
    padding-left: 0px;
    clear: both;
}
.single_user_info ul li{
    padding: 2px;
    background: #cbcbcb;
    margin: 3px;
    border-radius: 5px;
    text-align: left;
}

.single_user_info ul li span{
  float: right;
  cursor: pointer;
}

.single_user_info .editBtn{
    padding: 5px;
    margin: 4px;
    background: #cacbcc;
    border: 1px solid #acacac;
    text-decoration: none;
    float: right;
    color: black;
}


</style>


