<template>
    <div>
        <div class="full_container">
            <div class="container">
                <div class="content_wrapper">
                    <SingleuserList @removeItem="removeItem" v-for="user in user_info" :key="user.id" :user="user"  />
                </div>
            </div>
        </div>
    </div>
</template>


<script>

import SingleuserList from '../components/SingleUserList'
import db from '../firebase/init'
export default {
    name: 'UserList',
    components: {
        SingleuserList,
    },
    data(){
        return {
            user_info: []
        }
    },
    methods: {
        removeItem(id)
        {
            db.collection('hobby').doc(id).delete()
            .then(() => {
                this.user_info = this.user_info.filter(user => {
                    return user.id !== id
                })
            })
        },
    },


    created(){
        db.collection('hobby').get()
        .then(res => {
            res.forEach(doc => {
                let user = doc.data();
                user.id = doc.id
                this.user_info.push(user)
            })
        })
    }

}
</script>

