<template>
  <div id="app">
    <AppHeader/>
    <router-view></router-view>
  </div>
</template>

<script>
import AppHeader from './components/AppHeader.vue'

export default {
  name: 'App',
  components: {
    AppHeader
  }
}
</script>

<style>
.full_container{
  width: 100%;
}
.container{
  width: 1260px;
  margin: 0 auto;
}
.router-link-active{
  background: rgb(62, 59, 65);
  border-radius: 8px;
}
</style>
